/* CSS Tutorial */

/* 1. Selector */
p {
    font-size: 18px;
}

/* 2. Class */
.grid-item {
    background: orange;
    padding: 20px;
    text-align: center;
}

/* 3. ID */
#special {
    color: green;
}

/* 4. Box Model */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
}

/* 5. Color */
body {
    background-color: #ffffff;
}

/* CSS Advanced */

/* Hover */
.grid-item:hover {
    background: red;
    color: white;
}

/* Transition */
.grid-item {
    transition: 0.3s;
}

/* Responsive */
@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }
}
